<%= form_with model: @task do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_area :title, size: "70x1" %>
  </div>
  <div>
    <%= f.label :details %>
    <%= f.text_area :details, size: "70x5" %>
  </div>
  <div>
    <%= f.check_box :completed%>
    <%= f.label :completed, "Completed"%>
  </div>
  <%= f.submit %>
<% end %>
